* {
    font-family: 'Allerta Stencil';

}

#topbar {
    background-color: lightblue;
    padding: 5px;


}

.sidebar {

 display: flex;
 border-style: solid;
 max-width: 400px;
 margin: 30px;

}

section {
    display: flex;
    justify-content: center;
    flex-direction: ;
    flex-wrap: wrap;
}

.project {
display: flex;
flex: 0 0 400px;
flex-direction: ;
margin: 30px;
border-style: solid;
border-color: red;
background-color: aqua;
min-width: 400px;
max-width: 400px;
min-height: 400px;
max-height: 400px;


}
#mainproject {
    display: flex;
    flex: 0 0 800px;
    flex-direction: ;
    margin: 30px;
    border-style: solid;
    border-color: red;
    background-color: aqua;
    min-width: 800px;
    max-width: 800px;
    min-height: 800px;
    max-height: 800px;
    
    
    }

.bottomleft {
    position: relative;
    right: 390px;
    top: 320px;
    background-color: red;
    max-height: 80px;
    min-width: 100px;
    text-align: center;


}
#minecraft {
    position: relative;
    right: 800px;
    top: 720px;
    background-color: red;
    max-height: 80px;
    min-width: 800px;
    text-align: center;
}

.project:hover, #mainproject:hover
{

    box-shadow: 10px 10px 10px 10px blue;


}

footer {
    width: 100%;
    max-height: px;
    position: fixed;
    bottom: 0px;
    background-color: lightblue;
    padding: 5px;
    text-align: center;
    
}
footer img {

    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 40px;

}

@media screen and (min-width: 1000px) {
    .sidebar {

        float: left;
    
    
    
    }
    
 }